html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
:root {
	--primary-bg-color: white;
	--dark-bg-color: black;
	--hover-bg-color: rgb(18, 127, 190);
	--btn-primary-bg-color: rgb(18, 127, 190);
}
a {
	color: inherit;
	text-decoration: none;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
